.header
	&__in
		height 107px
	&__logo
		margin 9px 0 0
		display block
		float left
		sprite($logo)
		text-indent -9999px
	&__action
		margin 45px 0 0
		border 3px solid #7aa8c6
		padding 0 27px 
		display block
		float right
		font 700 16px/43px "Open Sans", sans-serif
		color #023d62
		text-transform uppercase
		text-decoration none
		border-radius 17px
		&:hover
			border 3px solid #003d63
			background #003d63 
			color #fff 
