.nav
	height 48px
	opacity 0.7
	background-color white
	&__ul
		float left
		overflow hidden
	&__i
		position relative
		margin-left 29px
		float left
		line-height 48px
		&:before
			position absolute
			top 0
			left -14px
			display inline-block
			content "."
			vertical-align middle
			font-size 30px
			font-family 'open_sanslight', sans-serif
			font-weight 300
			color #023d62
			line-height 30px
		&:first-child
			margin-left 0
	&__a
		color #023d62 
		
.phone
	display inline-block
	float right
	font-size 22px
	font-family 'open_sanssemibold', sans-serif
	font-weight 600  
	line-height 48px
	vertical-align middle
	&__code
		font-size 16px
		font-family 'open_sansregular', sans-serif
		font-weight 400 