.section
	&--hero
		margin-bottom 20px
		.section__in
			padding-top 85px
.hero
	text-align center
	font normal 700 30px/38px open_sansbold, sans-serif
	text-transform uppercase 
	&__title
		margin-bottom 8px
		color #003d63	
	&__subtitle
		font normal 300 30px/38px open_sanslight, sans-serif
		color #000 
