body
	background #003d63 url(../images/bg.jpg) 50% 0 no-repeat
	background-size contain
	font 300 14px/16px 'open_sanslight', sans-serif
	color #000 

.header,
.footer,
.section,
.nav
	&__in
		margin auto
		padding 0 30px
		width 992px
		clearfix()


a:link,
a:visited,
a:hover,
a:active
	text-decoration none
