footer.footer
	.footer__in
		.footer__col
			h6.footer__title О компании:
			p.footer__text Информация о нашей компании: <br/>Год основания: 2013 <br/>Специализация: <br/>реклама,<br/>маркетинг,<br/>интернет-маркетинг.
		.footer__col
			h6.footer__title Адреc:
			p.footer__text Россия, <br/>Ленинградская область,г. Сосновый бор, улица Петра Великого, дом 4
			p.footer__text
				a.footer__a(href="") Схема проезда
		.footer__col
			h6.footer__title Наши контакты:

			p.footer__text Если у Вас есть вопросы, Вы можете с нами связаться, используя наши контакты: тел. +7 (800) 
				span 775 69 49
			p.footer__text время работы: <br/>c 9:00 до 19:00
			p.footer__text 
				a.footer__a(href="mailto:LeadNeva@gmail.com") e-mail: LeadNeva@gmail.com
		.footer__col
			h6.footer__title Свидетельство:
			p.footer__text о государственной регистрации юридического лица:
			.footer__img
				img(src="", alt="image")

		.form
			h2.form__title Оставьте заявку 
				span и наш специалист свяжется с Вами в ближайшее время.

			form(action="#", method="post")
				.form__row.form__input
					input(type="text", value="#", placeholder="Ваше имя")
				.form__row.form__input
					input(type="text", value="#", placeholder="телефон или e-mail")
				.form__row
					.secure 100% гарантия <br/>конфиденциальности
					.form__submit
						input(type="submit", value="Отправить заявку")
		.footer__copyright Работаем по всей России и СНГ. © 2011 - 2014 Все права защищены. 
			a.footer__a(href="") Соглашение об обработе персональных данных.



