section.section.section--profit
	.section__in.profit
		h2.profit__title Насколько это 
			strong Выгодно
			span.profit__title-ent ?
		h5.profit__subtitle Давайте вместе посчитаем какую Вы получите прибыль воспользовавшись нашими услугами.
			span.profit__subtitle--style-1 Заполните простую форму и узнайте результат.

		
		.profit__list
			.profit__column
				.column__i.column__i--style-4
				.column__i.column__i--style-3
				.column__i.column__i--style-2
				.column__i.column__i--style-1
			.profit__ul
				li.profit__i
					.i__text Стоимость одного потенциального клиента (далее Лида)
					.i__val 500
				li.profit__i
					.i__text Необходимое количество Лидов
					.i__val 100
				li.profit__i 
					.i__text Общие затраты на покупку Лидов
					.i__val 50 000
				li.profit__i
					.i__text Ваша чистая прибыль
					.i__val 350 000
			.profit__note
				.profit__note-title Внимание!
				p.profit__note-text Все расчеты являются приблизительными, для получения более точных данных отправьте заявку.

		.profit__calc
			.calc__input
				label.calc__label Сфера вашей деятельности
				input(type="input")
			.calc__range
				.calc__label Чистая прибыль с одной сделки (руб)
				.calc__slider
					.slider__handle
			.calc__range
				.calc__label Конверсия продаж на сегодня
				.calc__slider
					.slider__handle
			.calc__range
				.calc__label Желаемое количество сделок в месяц
				.calc__slider
					.slider__handle
			.calc__total
				a.total__button(href="#") Рассчитать результат

		.form
			.secure 100% гарантия <br/>конфиденциальности

			.form__input
				input(type="text", value="Ваше", placeholder="Ваше")
			.form__input
				input(type="text", value="телефон или e-mail", placeholder="телефон или e-mail")
			.form__submit
				input(type="submit", value="Отправить заявку")

			.stat
				.stat__title Статистика 
					span.stat__title--style-1 проектов
				ul.stat_ul
					li.stat__i
						span.stat__text-1 125
						span.stat__text-2 выполненно 
						| проектов
					li.stat__i
						span.stat__text-1 27%
						span.stat__text-2 средняя 
						| конверсия
					li.stat__i 
						span.stat__text-1 9
						span.stat__text-2 среднее число
						| заявок <span class='stat__text-3'>в день</span>
						











