section.section.section--hero
	.section__in.hero
		h1.hero__title мы увеличим ваши продажи <br/>в несколько раз!
		h2.hero__subtitle Благодаря использованию новых технологий <br/>привлечения клиентов из интернета.
	