section.section.section--form
	.section__in
		.form
			.secure 100% гарантия <br/>конфиденциальности

			.form__input
				input(type="text", value="Ваше", placeholder="Ваше")
			.form__input
				input(type="text", value="телефон или e-mail", placeholder="телефон или e-mail")
			.form__submit
				input(type="submit", value="Отправить заявку")



