section.section.section--how
	.section__in
		h2.how__title 
			span.how__title--style-1 Как
			| Мы это <br/>делаем
			span.how__title--style-1 ?
		.process
			ul.process__ul
				li.process__i
					h3.process__title
						span 01
						| Анализ
					p.process__text Проводим глубокий анализ вашей ниши, выявляем конкурентов.
				li.process__i
					h3.process__title
						span 02
						| Цели
					p.process__text Определяем приоритеты и потребности Ваших клиентов
				li.process__i
					h3.process__title
						span 03
						| Методы
					p.process__text Разрабатываем инструменты с высокой конверсией
				li.process__i
					h3.process__title
						span 04
						| реклама
					p.process__text Создаем рекламную компанию на лучших площадках интернета
				li.process__i
					h3.process__title
						span 05
						| трафик
					p.process__text	Запускаем отборный трафик с различных источников
				li.process__i
					h3.process__title
						span 06
						| клиенты
					p.process__text И наконец направляем Вам поток «горячих» клиентов





