section.section.section--results
	.section__in
		h2.results__title Результаты 
			.results__title--style-1 наших <br/>заказчиков
		ul.review__ul
			li.review__i
				header.review__header
					.review__pic
						img(src="", alt="user-picture")
					h6.review__author 
						span Aнастасия
						| Риелтор. <br/> продажа недвижимости.
					p.review__text Раньше я считала, что в данном бизнесе очень много конкурентов, и девушке будет очень трудно работать. 
					p.review__text Самое сложное было искать клиентов. Когда не было клиентов, думала, что сейчас не сезон и надо просто подождать. 
					p.review__text Но когда начала работать с компанией Lead-Neva поняла, что я сильно ошибалась. Они смогли даже не в сезон приводить мне стабильно клиентов. Причем клиентов, которые хотят купить недвижимость. Я очень благодарна. Спасибо. 
					.review__graph
						img(src="", alt="")
			li.review__i
				header.review__header
					.review__pic
						img(src="", alt="user-picture")
					h6.review__author 
						span  Валентин
						| Страхованине
					p.review__text Cтрахование это очень интересное и доходное дело. Давно работаю в данной сфере. За долгую практику самым сложным занятием было работать с рекламой и маркетингом. Как говорится, раз на раз не приходилось. Вкладывал деньги в рекламу, но уверенности в том, что клиенты будут, не было. Все время переживал, будут ли клиенты в следующем месяце. 
					p.review__text Компания Lead-Neva изменила мое представление о рекламе. Я смог отдать на аутсорсинг данную задачу, а сам занялся непосредственно работой с клиентами. Спасибо 
					.review__graph
						img(src="", alt="")
			li.review__i
				header.review__header
					.review__pic
						img(src="", alt="user-picture")
					h6.review__author 
						span Максим
						| Туристическое агенство
					p.review__text Недавно открыл агентство по продаже туров, арендовал офис и договорился с поставщиками. Для раскрутки своего дела создал группу в «Вконтакте», начал приглашать друзей. Промучился так несколько недель, толку не было, только потратил время впустую. Плата за аренду истекала, и надо уже платить за следующий месяц, а другого дохода нет, было страшно. 
					p.review__text Через некоторое время ко мне обратился менеджер компании Lead-Neva . Позже я подумал, что мне его бог послал. Они смогли мне привести в течение 4 дней 51 клиента. Конечно, так как я не умею продавать, я смог закрыть на продажу  всего несколько клиентов. Но эти продажи принесли мне неплохую прибыль и я был беспредельно рад. Естественно, я теперь работаю только с Lead-Neva и очень доволен. 
					.review__graph
						img(src="", alt="")




