section.section.section--form
	.section__in
		ul.quarantee
			li.quarantee__i.quarantee__i--1
				span.quarantee__text.quarantee__text-1 100%
				span.quarantee__text.quarantee__text-2 гарантия
				span.quarantee__text.quarantee__text-3 результата 
			li.quarantee__i.quarantee__i--2 
				span.quarantee__text.quarantee__text-1 Полное 
				span.quarantee__text.quarantee__text-2 отсутствие
				span.quarantee__text.quarantee__text-3 рисков
			li.quarantee__i.quarantee__i--3 
				span.quarantee__text.quarantee__text-1 Оплата 
				span.quarantee__text.quarantee__text-2 за 
				span.quarantee__text.quarantee__text-3 результат

		h4.form__title Заполните заявку <br/>и получите анализ Вашей ниши в подарок!
		.timer
			.timer__text До конца акции осталось:
			ul.timer__ul
				li.timer__i 
					span.timer__i-val 05
					span.timer__i-note часов
				li.timer__sep :
				li.timer__i 
					span.timer__i-val 13
					span.timer__i-note минут
				li.timer__sep :
				li.timer__i 
					span.timer__i-val 15
					span.timer__i-note секунд
		.form
			form(action="#" method="post")
				.form__row.form__input.form__input-1
					input(type="text", value="Ваше имя", placeholder="Ваше имя")
				.form__row.form__input.form__input-2
					input(type="text", value="телефон или e-mail", placeholder="телефон или e-mail")
				.form__row.form__row-bottom
					.secure 100% гарантия <br/>конфиденциальности
					input.form__submit(type="submit", value="Отправить заявку")


