extends ../layouts/default

block head
	- pageTitle = 'LEAD-NEVA лид-агенство';

block content
	include ../blocks/header
	include ../blocks/section-1
	include ../blocks/section-3
	include ../blocks/section-4
	include ../blocks/section-5
	include ../blocks/section-6
	include ../blocks/section-7

	include ../blocks/footer

	include ../blocks/scripts